<!DOCTYPE html>
<html class='no-js' lang='en'>

	<head>
		<meta charset='utf-8'>
		<meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
		<title>Dashboard</title>
		<meta content='lab2023' name='author'>
		<meta content='' name='description'>
		<meta content='' name='keywords'>
		<link href="/stylesheets/cfdkAdmin/application-a07755f5.css" rel="stylesheet" type="text/css" />
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
		<link href="/images/cfdkAdmin/favicon.ico" rel="icon" type="image/ico" />

	</head>

	<body class='main page'>
		<!-- Navbar -->
		<div class='navbar navbar-default' id='navbar'>
			<a class='navbar-brand' href='#'>
				<i class='icon-beer'></i> Hierapolis
			</a>
			<ul class='nav navbar-nav pull-right'>
				<li class='dropdown'>
					<a class='dropdown-toggle' data-toggle='dropdown' href='#'>
						<i class='icon-envelope'></i> Messages
						<span class='badge'>5</span>
						<b class='caret'></b>
					</a>
					<ul class='dropdown-menu'>
						<li>
							<a href='#'>New message</a>
						</li>
						<li>
							<a href='#'>Inbox</a>
						</li>
						<li>
							<a href='#'>Out box</a>
						</li>
						<li>
							<a href='#'>Trash</a>
						</li>
					</ul>
				</li>
				<li>
					<a href='#'>
						<i class='icon-cog'></i> Settings
					</a>
				</li>
				<li class='dropdown user'>
					<a class='dropdown-toggle' data-toggle='dropdown' href='#'>
						<i class='icon-user'></i>
						<strong>John DOE</strong>
						<img class="img-rounded" src="http://placehold.it/20x20/ccc/777" />
						<b class='caret'></b>
					</a>
					<ul class='dropdown-menu'>
						<li>
							<a href='#'>Edit Profile</a>
						</li>
						<li class='divider'></li>
						<li>
							<a href="/">Sign out</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<div id='wrapper'>
			<!-- Sidebar -->
			<section id='sidebar'>
				<i class='icon-align-justify icon-large' id='toggle'></i>
				<ul id='dock'>
					<li class='launcher'>
						<i class='icon-dashboard'></i>
						<a href="/cfdkAdmin/index">首页管理</a>
					</li>
					<li class='launcher'>
						<i class='icon-file-text-alt'></i>
						<a href="/cfdkAdmin/userlist">用户管理</a>
					</li>
					<li class='active launcher'>
						<i class='icon-table'></i>
						<a href="/cfdkAdmin/toutiao">头条列表</a>
					</li>
					<li class='launcher dropdown hover'>
						<i class='icon-flag'></i>
						<a href='#'>Reports</a>
						<ul class='dropdown-menu'>
							<li class='dropdown-header'>Launcher description</li>
							<li>
								<a href='#'>Action</a>
							</li>
							<li>
								<a href='#'>Another action</a>
							</li>
							<li>
								<a href='#'>Something else here</a>
							</li>
						</ul>
					</li>
					<li class='launcher'>
						<i class='icon-bookmark'></i>
						<a href='#'>Bookmarks</a>
					</li>
					<li class='launcher'>
						<i class='icon-cloud'></i>
						<a href='#'>Backup</a>
					</li>
					<li class='launcher'>
						<i class='icon-bug'></i>
						<a href='#'>Feedback</a>
					</li>
				</ul>
				<div data-toggle='tooltip' id='beaker' title='Made by lab2023'></div>
			</section>
			<!-- Tools -->
			<section id='tools'>
				<ul class='breadcrumb' id='breadcrumb'>
					<li class='title'>Dashboard</li>
					<li>
						<a href="#">Lorem</a>
					</li>
					<li class='active'>
						<a href="#">ipsum</a>
					</li>
				</ul>
				<div id='toolbar'>
					<div class='btn-group'>
						<a class='btn' data-toggle='toolbar-tooltip' href='#' title='Building'>
							<i class='icon-building'></i>
						</a>
						<a class='btn' data-toggle='toolbar-tooltip' href='#' title='Laptop'>
							<i class='icon-laptop'></i>
						</a>
						<a class='btn' data-toggle='toolbar-tooltip' href='#' title='Calendar'>
							<i class='icon-calendar'></i>
							<span class='badge'>3</span>
						</a>
						<a class='btn' data-toggle='toolbar-tooltip' href='#' title='Lemon'>
							<i class='icon-lemon'></i>
						</a>
					</div>
					<div class='label label-danger'>
						Danger
					</div>
					<div class='label label-info'>
						Info
					</div>
				</div>
			</section>
			<!-- Content -->
			<div id='content'>

				<div class='panel panel-default grid'>

					<div class='panel-body filters'>
						<div class='row'>
							<div class='col-md-9'>
								首页推荐厨房大咖
							</div>

						</div>
					</div>
					<table class='table'>
						<thead>
							<tr>
								<th>排序</th>
								<th>标题</th>
								<th>浏览数</th>
								<th>收藏</th>
								<th>发布时间</th>
								<th class='actions'>
									Actions
								</th>
							</tr>
						</thead>
						<tbody id="dv_tbody">

						</tbody>
					</table>
				</div>
				<div class='form-actions'>
					<button onclick="sendWin();" class='btn btn-default' type='submit'>发布</button>

				</div>
			</div>
		</div>
		<!-- Footer -->
		<!-- Javascripts -->
		<script src="/javascripts/jquery-2.1.4.min.js"></script>

		<script>
			$(function() {
				var olen = 0,
					_id = 0,
					html = "";
				var tbody = $("#dv_tbody");

				function toPost(len) {

					$.post("http://www.devonhello.com/cfdkAdmin/articlelist", { num: len }, function(result) {

						if(!result[0]["_id"]) {
							return true;
						}

						var olength = result.length;

						for(var i = 0; i < olength; i++) {

							_id++;
							html += "<tr class='tr-" + _id + "'>" +
								"<td>" + _id + "</td>" +
								"<td>" + result[i]["utitle"] + "</td>" +
								"<td>" + result[i]["usee"] + "</td>" +
								"<td>" + result[i]["ucollect"] + "</td>" +
								"<td>" + new Date(result[i]["utime"]).format('yyyy-MM-dd h:m') + "</td>" +
								"<td class='action'>" +
								"<a class='btn btn-success' data-toggle='tooltip' href='javascript:;' onclick='openWin(\"" + result[i]["_id"] + "\");' title='Zoom'>" +
								"<i class='icon-zoom-in'></i>" +
								"</a>&nbsp;" +
								"<a class='btn btn-info' href='#'>" +
								"<i class='icon-edit'></i>" +
								"</a>&nbsp;" +
								"<a class='btn btn-danger' href='javascript:;' onclick='dele(\"" + result[i]["_id"] + "\"," + _id + ")'>" +
								"<i class='icon-trash'></i>" +
								" </a>" +
								"</td>" +
								"</tr>";
						}
						tbody.append(html);
						olen += olength;
					})
				}

				Date.prototype.format = function(format) {
					var date = {
						"M+": this.getMonth() + 1,
						"d+": this.getDate(),
						"h+": this.getHours(),
						"m+": this.getMinutes(),
						"s+": this.getSeconds(),
						"q+": Math.floor((this.getMonth() + 3) / 3),
						"S+": this.getMilliseconds()
					};
					if(/(y+)/i.test(format)) {
						format = format.replace(RegExp.$1, (this.getFullYear() + '').substr(4 - RegExp.$1.length));
					}
					for(var k in date) {
						if(new RegExp("(" + k + ")").test(format)) {
							format = format.replace(RegExp.$1, RegExp.$1.length == 1 ?
								date[k] : ("00" + date[k]).substr(("" + date[k]).length));
						}
					}
					return format;
				}

				toPost(olen);

			});

			function openWin(id) {
				window.open('/cfdkAdmin/article/' + id, 'newwindow', 'height=700; width=920;top=300;left=300')
			}

			function sendWin() {
				window.open('/cfdkAdmin/sendart/', 'newwindow', 'height=700; width=920;top=300;left=300')
			}

			function dele(id, tr) {
				$.post("http://www.devonhello.com/cfdkAdmin/deleart", { uid: id }, function(result) {

					if(result != 0) {
						$(".tr-" + tr).remove();
					}
				});
			}
		</script>

	</body>

</html>